.leadership-sec
	height: 100vh
	width: 100vw
	padding: 0
	overflow: hidden
	background-image: url(../images/leadership-bg-mobile.jpg) 
	background-repeat: no-repeat
	background-size: cover   
	h2
		color: $white
		text-align: center
		font-family: 'Gotham Book'
		font-size: 32px 
		line-height: 32px
		margin-top: 0
	p
		color: $white
		text-align: center
	
	.button
		width: 200px
		font-family: 'Gotham Bold'
		border: $white 1px solid
		margin-top: 40px

	.text-content
		display: flex
		flex-flow: column
		align-items: center
		width: 90%
		margin-left: 5%
		
	@media screen and (min-width: 768px)
		background-image: url(../images/leadership-bg.jpg)
				