
.text
	stroke: $green
	font-family: 'Gotham Book'
	font-size: 16px
	transform: rotate(45deg)
	// transform-origin: 50% 50%

.section	
	&.active
		.line, .circle, .divider
			stroke-dashoffset: 0
			stroke-dasharray: 1000
		// p, h1, h3, ul
		// 	transform: translate(0,0)
		// 	opacity: 1
		.date
			transform: translate(0,-1px)

.event
	background-color: $white
	float: left
	width: 33%
	width: 100%
	left: 8.5%
	left: 0

	
.mobile-img
	width: 142%
	height: 200px
	margin-left: -21%
	background-size: cover
	background-position: center
	background-repeat: no-repeat   
	
		

@media screen and (min-width: 768px)
	
	p, h1, .text-content ul, h3
		opacity: 0
		transform: translate(-20px, 0)
		transition: all 300ms ease-in 0.7s

	.section	
		&.active
			.line, .circle, .divider
				stroke-dashoffset: 0
				stroke-dasharray: 1000
			p, h1, h3, ul
				transform: translate(0,0)
				opacity: 1
			.date
				transform: translate(0,-1px)
	
	.event
		width: 33%
		left: 8.5%
	.mobile-img
		display: none
